SetSimilaritySearch
tqdm
docopt
azure-storage-blob
azure-identity
numpy
typing_extensions
sentencepiece==0.1.92
cffi
regex
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
