SetSimilaritySearch
tqdm
docopt
azure-storage-blob
azure-identity
numpy
typing_extensions
sentencepiece==0.1.92
cffi
regex
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
